<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
  <title>{{ page.title }} &mdash; tasuki’s blog</title>
  {% else %}
  <title>tasuki’s blog</title>
  {% endif %}

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Eczar:400,700|IBM+Plex+Sans:400,400i,700|IBM+Plex+Mono:400,400i,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-responsive-min.css">
  <link rel="stylesheet" href="/public/style.css">
</head>
