<article id="{{ post.url | replace: '/', '' }}">
  <h1>
  {% if single %}
  {{ post.title }}
  {% else %}
  <a href="{{ post.url }}">{{ post.title }}</a>
  {% endif %}
  </h1>
  <div class="meta">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
  </div>
  <div class="content">
    {{ content }}
  </div>

  {% if single %}
  <div class="post-nav">
    {% if post.previous.url %}
    <a href="{{post.previous.url}}" class="post-nav-prev">&larr;&nbsp;{{post.previous.title}}</a>
    {% endif %}
    {% if post.next.url %}
    <a href="{{post.next.url}}" class="post-nav-next">{{post.next.title}}&nbsp;&rarr;</a>
    {% endif %}
  </div>

  <div class="comments">
    {% if post.comments.size > 1 %}
      {% assign thoughts = post.comments.size | append: " thoughts" %}
    {% elsif post.comments.size == 1 %}
      {% assign thoughts = "One thought" %}
    {% else %}
      {% assign thoughts = "No thoughts" %}
    {% endif %}

    <h3>{{ thoughts }} on &ldquo;{{ post.title }}&rdquo;</h3>
    {%- for comment in post.comments -%}
      <div class="comment">
        <p>
          <span class="author">
            {% if comment.author_url == "" %}
            {{ comment.author }}
            {% else %}
            <a href="{{ comment.author_url }}">{{ comment.author }}</a>
            {% endif %}
          </span>
          <span class="date">{{ comment.date | date: "%Y-%m-%d" }}</span>
        </p>
        <p>{{ comment.content | markdownify }}</p>
      </div>
    {%- endfor -%}
    <p><a class="add-comment" href="https://github.com/tasuki/blog/edit/master/{{ post.path }}">Add your comment</a>
       &mdash; <a href="/comment/">How does this work?</a></p>
  </div>
  {% endif %}
</article>
