<article>
  <h1>
  {% if single %}
  {{ post.title }}
  {% else %}
  <a href="{{ post.url }}">{{ post.title }}</a>
  {% endif %}
  </h1>
  <div class="meta">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
  </div>
  <div class="content">
    {{ post.content }}
  </div>

  {% if single %}
  <div class="post-nav">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="post-nav-prev">&larr;&nbsp;{{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{page.next.url}}" class="post-nav-next">{{page.next.title}}&nbsp;&rarr;</a>
    {% endif %}
  </div>

  <div class="comments">
    {% if post.comments.size %}
      <div class="thoughts">{{ post.comments.size }} thoughts on &ldquo;{{ post.title }}&rdquo;</div>
      {%- for comment in post.comments -%}
        <div class="comment">
          <p>
            <span class="author">
              {% if comment.author_url == "" %}
              {{ comment.author }}
              {% else %}
              <a href="{{ comment.author_url }}">{{ comment.author }}</a>
              {% endif %}
            </span>
            <span class="date">{{ comment.date | date: "%Y-%m-%d" }}</span>
          </p>
          <p>{{ comment.content }}</p>
        </div>
      {%- endfor -%}
    {% endif %}
  </div>
  {% endif %}
</article>
