/* Alegreya */
@font-face {
  font-family: 'Alegreya'; font-style: normal; font-weight: 400; font-display: swap;
  src: url('/public/fonts/alegreya-v39-latin-ext_latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya'; font-style: italic; font-weight: 400; font-display: swap;
  src: url('/public/fonts/alegreya-v39-latin-ext_latin-400i.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('/public/fonts/alegreya-v39-latin-ext_latin-700.woff2') format('woff2');
}

/* IBM Plex Mono */
@font-face {
  font-family: 'IBM Plex Mono'; font-style: normal; font-weight: 400; font-display: swap;
  src: url('/public/fonts/ibm-plex-mono-v12-latin-ext_latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono'; font-style: italic; font-weight: 400; font-display: swap;
  src: url('/public/fonts/ibm-plex-mono-v12-latin-ext_latin-400i.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('/public/fonts/ibm-plex-mono-v12-latin-ext_latin-700.woff2') format('woff2');
}
