html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "IBM Plex Sans", sans-serif;
}

#header, #content h1, #content h3 {
  font-family: "Eczar", serif;
  line-height: 1;
}
#header, #content h1 {
  font-weight: normal;
}

body {
  color: #141412;
}

.pad {
  margin: auto;
  max-width: 600px;
  padding: 0 10px;
}

/* header */
#header {
  background-color: #CA3C08;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -1px;
}

#header a {
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}

#header a:hover {
  color: #000;
  text-shadow: 1px 1px 1px #FFF;
}

/* content */
#content {
  font-size: 18px;
  line-height: 1.5;
}

#content article { margin: 1em 0 5em 0; }

#content h1 { font-size: 26px; margin: .5em 0 0 0; }
#content h3 { font-size: 22px; margin: 1.5em 0 0 0; }

#content a { text-decoration: none; }
#content a:hover { text-decoration: underline; }

#content h1 a { color: #000; }
#content h1 a:hover { color: #CA3C08; }

#content .meta {
  font-style: italic;
  font-size: 14px;
}

#content a { color: #CA3C08; }

#content ul { list-style-type: '–  '; }

#content code { padding: 0 .5em; }
#content pre { padding: 1em; }
#content code, #content pre {
  background-color: #F5F5F5;
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

#content table { font-size: 16px; margin: auto; }
#content tr { border-bottom: 1px solid #EDEDED; }
#content th { text-align: left; }
#content th, td { padding: 5px 10px; }

#content blockquote {
  border-left: 7px solid #EDEDED;
  margin: 15px;
  padding-left: 15px;
}

#content img { width: 100%; }

#pagination { font-weight: bold; margin: 20px 0; }
#pagination .older { text-align: left; }
#pagination .page-number { text-align: center; }
#pagination .newer { text-align: right; }

@media screen and (min-width: 35.5em) {
  #header {
    font-size: 70px;
  }

  #content h1 { font-size: 40px; }
  #content h3 { font-size: 27px; }
}
