---
---

$font-headers: "Eczar", serif
$font-body: "IBM Plex Sans", sans-serif
$font-mono: "IBM Plex Mono"

$color-primary: #CA3C08
$color-background: #FFF
$color-text: #141412
$color-code: #FDF6E3
$color-gentle: #EDEAE6

$desk-factor: 10/9 // larger fonts on desktop size

$size-base: 18px
$size-smaller: $size-base * 0.8
$size-small: $size-base * 0.9
$size-large: $size-base * 1.35
$size-larger: $size-base * 1.5 * 1.5
$size-largest: $size-base * 1.5 * 1.5 * 1.5


html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: $font-body
  font-size: $size-base

body
  color: $color-text

.pad
  margin: auto
  max-width: 600px
  padding: 0 10px

#header
  background-color: $color-primary
  font-family: $font-headers
  font-size: $size-largest
  font-weight: normal
  line-height: .7
  letter-spacing: -2px
  a
    color: $color-background
    display: block
    padding-top: .3em
    text-decoration: none
    text-shadow: 1px 1px 1px $color-text
    &:hover
      color: $color-text
      text-shadow: 1px 1px 1px $color-background

#content
  line-height: 1.5

  article
    margin: 1.5em 0 6em 0

  .meta
    line-height: .8

  .date
    font-style: italic
    font-size: $size-smaller

  h1, h3
    font-family: $font-headers
    font-weight: 500
    line-height: 1
  h1
    // nudge down because header is lower-case and
    // can't be nudged up because of small screen
    font-size: $size-larger * 0.9
    margin: .5em 0 0 0
    a
      color: $color-text
      &:hover
        color: $color-primary
  h3
    font-size: $size-large
    margin: 1.5em 0 0 0

  a
    color: $color-primary
    text-decoration: none
    &:hover
      text-decoration: underline

  ul
    list-style-type: '–  '
  li
    p
      margin-top: 0
    pre
      margin: 0

  code, pre
    background-color: $color-code
    font-family: $font-mono
    font-size: $size-smaller
  code
    padding: 0 .3em
  pre
    padding: .5em 1em
    margin: 0 -10px
  pre code
    padding: 0

  table
    font-size: $size-smaller
    margin: auto
  tr
    border-bottom: 1px solid $color-gentle
  th
    text-align: left
  th, td
    padding: 5px 10px

  blockquote
    border-left: 7px solid $color-gentle
    margin: 15px
    padding-left: 15px

  hr
    border: 0;
    border-top: 1px solid #AAA;

  img, embed, iframe, object, video
    max-width: 100%

  .footnotes
    border-top: 1px solid #CCC;
    color: #666;

  .post-nav
    font-style: italic
    margin: 3em -10px
    padding: 0 5px
  .post-nav-next
    float: right
    text-align: right

  .comments
    .add-comment
      font-weight: bold
    .author
      font-weight: bold
      margin-right: .5em
    .comment
      margin: 2em 0
    p
      margin: .5em 0

  #pagination
    font-weight: bold
    margin: 20px 0
  .older
    text-align: left
  .page-number
    text-align: center
  .newer
    text-align: right

@media screen and (min-width: 35.5em)
  html
    font-size: $desk-factor * $size-base

  .pad
    padding: 0 50px

  #header
    // nudge up because all lower-case
    font-size: $desk-factor * $size-largest * 1.2

  #content
    .date
      font-size: $desk-factor * $size-smaller
    h1
      font-size: $desk-factor * $size-larger
    h3
      font-size: $desk-factor * $size-large
    code, pre
      font-size: $desk-factor * $size-small
    table
      font-size: $desk-factor * $size-small

    pre
      margin-left: -40px
      margin-right: -40px

    .post-nav
      margin-left: -50px
      margin-right: -50px

@media screen and (min-width: 64em)
  .pad
    padding: 0 200px

  #content
    .post-nav
      margin-left: -100px
      margin-right: -100px

@import public/solarized-light
