---
---

@forward 'fonts'
@forward 'solarized'

$font-headers: "Alegreya", serif
$font-body: "Alegreya", serif
$font-mono: "IBM Plex Mono", monospace

$desk-factor: 1.2
$size-code: 15px
$size-base: 18px
$size-large: 24px
$size-larger: 32px
$size-largest: 56.8px * 1.2 // because lower case

:root
  --color-primary: #C60;
  --color-background: #FFF;
  --color-text: #210;
  --color-lessimportant: #2106;
  --color-code: #FDF6E3;


@media (prefers-color-scheme: dark)
  :root
    --color-primary: #F80;
    --color-background: #222;
    --color-text: #FDF6E3;
    --color-lessimportant: #FFE6;
    --color-code: #002B36;

html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: $font-body
  font-size: $size-base

body
  background: var(--color-background)
  color: var(--color-text)

.pad
  margin: auto
  max-width: 600px
  padding: 0 10px

#header
  background-color: var(--color-primary)
  font-family: $font-headers
  font-size: $size-largest
  font-style: italic
  font-weight: 400
  line-height: .7
  letter-spacing: -2px
  a
    color: var(--color-background)
    display: block
    padding-top: 10px
    text-decoration: none
    text-shadow: 1px 1px 1px var(--color-text)
    &:hover
      color: var(--color-text)
      text-shadow: 1px 1px 1px var(--color-background)

#content
  line-height: 1.5

  article
    margin: 1.5em 0 6em 0
    .content
      text-wrap: pretty

  .meta
    line-height: .8

  .date
    color: var(--color-lessimportant)

  h1, h3
    font-family: $font-headers
    font-weight: bold
    line-height: 1
    text-wrap: balance
  h1
    font-size: $size-larger
    margin: .5em 0 0 0
    a
      color: var(--color-text)
      &:hover
        color: var(--color-primary)
  h2 // you shall not use h2
    text-decoration: line-through;
  h3
    font-size: $size-large
    margin: 1.5em 0 0.5em 0

  a
    color: var(--color-primary)
    text-decoration: none
    &:hover
      text-decoration: underline

  ul
    list-style-type: '–  '
  li
    p
      margin-top: 0
    pre
      margin: 0

  code, pre
    background-color: var(--color-code)
    font-family: $font-mono
    font-size: $size-code
  code
    padding: 0 .3em
  pre
    padding: .5em 1em
    margin: 0 -10px
    overflow: auto
  pre code
    padding: 0
  details
    margin: 1em 0

  table
    font-variant-numeric: tabular-nums;
    margin: auto
  tr
    border-bottom: 1px solid var(--color-lessimportant)
  th
    text-align: left
  th, td
    padding: 5px 10px

  blockquote
    border-left: 5px dotted var(--color-lessimportant)
    margin: 15px
    margin-left: 0px
    padding-left: 15px

  hr
    border: 0
    border-top: 2px dotted var(--color-lessimportant)

  img, embed, iframe, object, video
    max-width: 100%

  summary
    cursor: pointer

  .nowrap
    white-space: nowrap

  .footnotes
    border-top: 1px solid var(--color-lessimportant)
    color: var(--color-lessimportant)

  .post-nav
    font-style: italic
    margin: 3em -10px
    padding: 0 5px
  .post-nav-next
    float: right
    text-align: right

  .comments
    .add-comment
      font-weight: bold
    .author
      font-weight: bold
      margin-right: .5em
    .comment
      margin: 2em 0
    p
      margin: .5em 0

  #pagination
    font-weight: bold
    margin: 20px 0
  .older
    text-align: left
  .page-number
    text-align: center
  .newer
    text-align: right

@media screen and (min-width: 35.5em)
  html
    font-size: $size-base * $desk-factor

  .pad
    padding: 0 50px

  #header
    font-size: $size-largest * $desk-factor

  #content
    h1
      font-size: $size-larger * $desk-factor
    h3
      font-size: $size-large * $desk-factor
    code, pre
      font-size: $size-code * $desk-factor
    pre, .wide
      margin-left: -40px
      margin-right: -40px

    .post-nav
      margin-left: -50px
      margin-right: -50px

@media screen and (min-width: 64em)
  .pad
    padding: 0 200px

  #content
    .meta
      margin-left: -110px
      margin-top: -22px

    .post-nav
      margin-left: -100px
      margin-right: -100px
