---
layout: default
---

{%- for post in paginator.posts -%}
  {% assign single = false %}
  {% assign content = post.content %}
  {% include post-full.html %}
{%- endfor -%}

<div id="pagination" class="pure-g">
  <div class="older pure-u-md-1-3">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">&laquo; Older posts</a>
  {% else %}
    &laquo; Older posts
  {% endif %}
  </div>

  <div class="page-number pure-u-md-1-3">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </div>

  <div class="newer pure-u-md-1-3">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Newer posts &raquo;</a>
  {% else %}
    Newer posts &raquo;
  {% endif %}
  </div>
</div>
