---
layout: default
---

{%- for post in paginator.posts -%}
  {% assign single = false %}
  {% include post-full.html %}
{%- endfor -%}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="newer">Newer posts</a>
  {% else %}
    <span class="newer">Newer posts</span>
  {% endif %}

  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="older">Older posts</a>
  {% else %}
    <span class="older">Older posts</span>
  {% endif %}
</div>
